<template>
<div class="chat-header">
    <div class="chat-header-left">
        <span class="chat-header-title">{{ displayTitle }}</span>
    </div>
    <div class="chat-header-actions">
        <button v-if="inChat" class="icon-btn" @click="$emit('toggle-drawer')" title="History">☰</button>
        <button v-if="inChat" class="icon-btn" @click="$emit('new-chat')" title="New Chat">+</button>
        <button class="icon-btn" @click="$emit('open-settings')" title="Settings">⚙</button>
    </div>
</div>
</template>
